<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreals Place - Contact</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>DREALS PLACE</li>
                <li><a href="/">HOME</a></li>
                <li><a href="/menu">MENU</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <section id="contact-us">
        <div class="contact-us-image">
            <img src="/static/images/chefs_cs.jpg" alt="image">
        </div>

        <div class="contact-us">
            <h2>WE'D LOVE TO HEAR FROM YOU</h2>
            <p><b>Let us know what you think about our services!</b>
                <br> We're constantly working towards improving our services and
                taking your requests and your input would go a long way in helping
                us achieve that. Whether it's a request, a review or complaint, we've got 
                you covered.
            </p>
        </div>

        <div class="contact-form">
            <h2>Send Us a Mail</h2>
            <form action="mailto:officially.ekongg@gmail.com" method="post" enctype="text/plain">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Your Message</label>
                <textarea name="message" id="message" rows="3" cols="20"></textarea>

                <button type="submit">SEND MAIL</button>
            </form>
        </div>
    </section>
</body>
</html>