<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreals Place</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>DREALS PLACE</li>
                <li><a href="/">HOME</a></li>
                <li><a href="/menu">MENU</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <div class="hero-container">
            <img src="/static/images/burritos.jpg" style="object-fit: contain; height: 200px;">
        </div>

        <div class="buttons">
            <button class="cta primary"><a href="/contact">Order Now</a></button>
            <button class="cta secondary"><a href="/contact">Reserve Seat</a></button>
        </div>
    </section>

    <section id="about">
        <div class="about-us">
            <h2>ABOUT US</h2>
            <p>
                Dreals Place is the definiton of a modern, state
                of the art restaurant. Focused at satisfying our 
                customers, we provide an enabling environment for
                dinners, reunions or just a sit-out after a stressful
                work day. <br> We have a team of efficient staff trained
                to ensure the happiness of our customers and a wide range
                of fine wines, pizzas, coffees and burritos for the perfect
                date.
            </p>
        </div>
    </section>

    <section id="gallery">
        <div class="gallery">
            <img src="/static/images/restaurant_view.jpg" alt="restaurant_view">
            <img src="/static/images/restaurant_ambience.jpg" alt="restaurant_ambience">
            <img src="/static/images/hendric_wine.jpg" alt="hendrick_wine">
        </div>
    </section>

    <section id="delivery">
        <div class="delivery_info">
            <h2>OUR DELIVERY SERVICES</h2>
            <p>
                Our dispatch services are available 24/7 to ensure
                that your orders get to you in the shortest time possible.
                We have partnered with some of the best delivery services
                in the country to ensure that your food gets to you hot, fresh
                and on time. <br> Place your order now and enjoy delicious
                meals from the comfort of your home or office.
            </p>
            <img src="/static/images/pizza_delivery.jpg" alt="delivery_img">
        </div>
    </section>
</body>
</html>